* {
    margin: 0 auto;
}

body {
    padding: 2px;
    background-color: whitesmoke;
    counter-reset: primero segundo tercero;
}

p {
    margin: 0;
    text-align: justify;
}

h1+p, h2+p {
    font-size: 25px;
}

h1, h2, h3 {
    padding-bottom: 20px;
    padding-top: 20px;
}

h1 {
    counter-increment: primero;
    counter-reset: segundo tercero;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
}

h2 {
    counter-increment: segundo;
    counter-reset: tercero;
    font-size: 30px;
}

h3 {
    counter-increment: tercero;
    font-size: 27px;
}

h1::before {
    color: red;
    content: counter(primero, decimal) ". "
}

h2::before {
    color: darkred;
    content: counter(primero, decimal) "."counter(segundo, decimal) ". "
}

h3::before {
    color: rgb(180, 69, 87);
    content: counter(primero, decimal) "."counter(segundo, decimal) "."counter(tercero, lower-alpha) ". "
}