*{
    padding: 0px;
    margin: 0 auto;
    text-align: left;
}

h4{
    color: red;
    text-align: center;
    padding: 10px;
    letter-spacing: 2px;
}

table{
    border-spacing: 0px;
    border: 1px black solid;
    border-collapse: collapse;
}

td, th{
    border: 1px black solid;
    padding: 5px;
}

table tr:nth-child(even){
    background-color: rgb(206, 226, 247);
}

table tr:nth-child(odd){
    background-color: rgb(157, 208, 223);
}

table tr:first-child th{
    border-color: green;
    border-width: 3px;
    text-align: center;
}

table tr:not(:first-child) th{
    font-weight: normal;
}
