* {
    padding: 0px;
    margin: 0 auto;
    text-align: left;
}

h4{
    color: rgb(30, 120, 172);
    font-size: 120%;
}

form{
    padding: 20px;
}

label{
    line-height : 40px;
}

label::first-letter{
    text-transform: capitalize;
}

input[type="submit"]{
    background-color: rgb(30, 120, 172);
    width: 150px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-left: 8.5%;
}

input {
    background-color: rgb(240, 240, 167);
}

input:hover{
    background-color: rgb(128, 51, 0);
}

input:focus{
    background-color: yellow;
    color: blue;
}

input[name="sugerencia"]{
    width: 250px;
    height: 250px;
}


input[name="apellidos"]{
    width: 250px;
}

img {
    width: 25px;
}