* {
    padding: 0px;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

#leftcolumn{
    float: left;
    width: 30%;
}

#navigation{
    background-color: rgb(147, 192, 147);
    height: 15em;
    margin: 10px;
    margin-top: 0px;
}

#linklist{
    background-color: rgb(138, 20, 161);
    height: 15em;
    margin: 10px;
}

header{
    display: block;
    width: 100%;
    background-color: rgb(245, 245, 135);
    margin-bottom: 10px;
    height: 5em;
}

footer{
    width: 100%;
    clear: both;
    background-color:pink;
    margin-top: 10px;
    height: 5em;

}

article{
    float: right;
    width: 70%;
    height: 30.6em;
    background-color: rgb(199, 241, 241);
}

