* {
    padding: 0;
    text-align: center;
    margin: 0 auto;
}

nav ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    list-style: none;
}

li:hover{
    background-color: white;
    color: lightgray;
    border-bottom: 0px;
}

li{
    background-color: rgb(241, 183, 183);
    color: brown;
    border-top: 1px solid brown;
    border-left: 1px solid brown;
    border-right: 1px solid brown;
    padding: 2px;
    font-weight: bold;
    padding: 2px 20px 2px 20px;
    margin: 0 20px 0 20px;
}

h1{
    margin-bottom: 20px;
}