div{
    background-color: rgb(248, 248, 89);
    border-radius: 30px;
    box-shadow: 5px 5px 5px blue;
    width: 25%;
}

li:hover{
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

li:first-child {
    text-decoration: overline black;
    color: red;
}

li:last-child{
    text-decoration:underline black;
}

li:first-child::first-letter, li:last-child::first-letter{
    font-size: 1.4em;
}

li:first-child::first-letter{
    color:blue;
} 

li:last-child::first-letter{
    color: green;
}